manifest {
    name = 'cell-track'
    author = 'Xicheng Yang'
    description = 'Darkfield time-lapse cell segmentation and tracking'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.10.0'
    version = '0.1.0'
}

params {
    input = null
    outdir = 'results'

    basicpy_align_frames = true
    basicpy_upsample_factor = 10
    basicpy_get_darkfield = true
    basicpy_autotune = true

    ecc_motion = 'euclidean'
    ecc_max_iterations = 200
    ecc_epsilon = 1e-7
    ecc_gaussian_filter_size = 5
    ecc_background_percentile = 90.0

    rpca_lambda_multiplier = 2.0
    rpca_max_iterations = 80
    rpca_tolerance = 1e-7

    cellpose_model = 'cpsam_v2'
    cellpose_fallback_model = 'cpsam'
    cellpose_device = 'auto'
    cellpose_diameter = null
    cellpose_flow_threshold = 0.4
    cellpose_cellprob_threshold = 0.0
    cellpose_batch_size = 4
    cellpose_niter = null
    cellpose_bsize = null
    cellpose_gamma = 1.0
    cellpose_lower_quantile = 0.001
    cellpose_upper_quantile = 0.9999

    ultrack_contour_sigma = 4.0
    ultrack_min_area = 50
    ultrack_max_area = 20000
    ultrack_max_distance = 80.0
    ultrack_n_workers = 4
    ultrack_appear_weight = -1.0
    ultrack_disappear_weight = -1.0
    ultrack_division_weight = -0.1
    ultrack_power = 4
    ultrack_bias = -0.001
    ultrack_solution_gap = 0.0
    ultrack_time_limit = 36000
    ultrack_solver_name = ''

    qc_frames = []
    save_intermediates = false
    save_aligned_stacks = false
    save_normalized_stack = false
    save_ultrack_database = false
}

workDir = 'work'

process {
    errorStrategy = 'terminate'
    shell = ['/bin/bash', '-ue']

    withLabel: basicpy {
        cpus = 4
        memory = 16.GB
        time = 12.h
    }
    withLabel: ecc_rpca {
        cpus = 4
        memory = 16.GB
        time = 12.h
    }
    withLabel: cellpose {
        cpus = 4
        memory = 16.GB
        time = 24.h
        maxForks = 1
    }
    withLabel: ultrack {
        cpus = 4
        memory = 16.GB
        time = 24.h
    }
    withLabel: qc {
        cpus = 2
        memory = 8.GB
        time = 2.h
    }
    withLabel: provenance {
        cpus = 1
        memory = 1.GB
        time = 10.m
    }
}

profiles {
    standard {
        process.executor = 'local'
        conda.enabled = true
        conda.cacheDir = System.getenv('NXF_CONDA_CACHEDIR') ?: "${projectDir}/.conda/${System.getProperty('os.name').toLowerCase().replaceAll('[^a-z0-9]+', '-')}-${System.getProperty('os.arch')}"
        process {
            withName: BASICPY {
                conda = "${projectDir}/envs/basicpy.yml"
            }
            withName: ECC_RPCA {
                conda = "${projectDir}/envs/analysis.yml"
            }
            withName: CELLPOSE {
                conda = "${projectDir}/envs/cellpose.yml"
            }
            withName: ULTRACK {
                conda = "${projectDir}/envs/ultrack.yml"
            }
            withName: QC {
                conda = "${projectDir}/envs/analysis.yml"
            }
        }
    }
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/workflow_dag.html"
    overwrite = true
}
